<a (click)="navigateToEvent(ticketData.events.id)">
  <div class="event-card">
    <img style="border-bottom: 4px solid var(--zielony);" src="assets/images/concert.jpg" alt="Zdjęcie wydarzenia"
      class="img-fluid mb-4">
    <div class="event-details">
      <div class="event-name font-weight-bold mb-4">{{ticketData.events.eventName}}</div>
      <div class="mb-2"><a style="font-weight: bold;">Miejsce: </a>{{ticketData.events.location}}</div>
      <div class="mb-2"><a style="font-weight: bold;">Data: </a> {{ticketData.events.date | date:"dd/MM/yy HH:mm"}}
      </div>
      <div class="mb-2"> Normalny: {{ticketData.ticketInfo.normalTicket + ticketData.ticketInfo.normalPremiumTicket}} w
        tym premium: {{ticketData.ticketInfo.normalPremiumTicket}}. </div>
      <div class="mb-2"> Ulgowy: {{ticketData.ticketInfo.reducedTicket + ticketData.ticketInfo.reducedPremiumTicket}} w
        tym premium: {{ticketData.ticketInfo.reducedPremiumTicket}}. </div>
    </div>
    <div class="event-price p-3">
      <div style="margin-top: 10px;">Ilość: {{ticketData.ticketInfo.normalTicket +
        ticketData.ticketInfo.normalPremiumTicket + ticketData.ticketInfo.reducedTicket +
        ticketData.ticketInfo.reducedPremiumTicket}}</div>
    </div>
  </div>
</a>