.login-wrapper {
    background-color: #393E46;
    width: 25rem;
    height: 26rem;
    margin-top: 7rem;
    margin-left: 7rem;
    
}

label {
    color: #EEEEEE;
    margin: 3px;
}

button {
    color: #EEEEEE;
    background-color: #00ADB5;
}