<div class="container" style="padding: 10px;">
    <div class="row-margins mt-5" style="background-color: var(--jasny); padding: 100xp;">
        <div style="padding: 10px; font-weight: bold; font-size: 24px;">Dodaj wydarzenie</div>
        <div style="display: flex; flex-direction: column; padding: 20px; margin-top: 30px; margin-left: 180px; justify-content: center; position: relative;">
            
            <div class="row" style="margin-bottom: 10px; ">
                <div class="col-3">
                    Nazwa wydarzenia:
                </div>
                <div class="col-6">
                    <input style="width: 300px;" type="text">
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px; ">
                <div class="col-3">
                    Miejsce
                </div>
                <div class="col-6">
                    <input style="width: 300px;" type="text">
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px; ">
                <div class="col-3">
                    Data:
                </div>
                <div class="col-6">
                    <input style="width: 300px;" type="text">
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px; ">
                <div class="col-3">
                    Godzina:
                </div>
                <div class="col-6">
                    <input style="width: 300px;" type="text">
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px;">
                <div class="col-3">
                    Opis:
                </div>
                <div class="col-6">
                    <textarea style="resize: none; width: 300px;" type="text" name="additionalInformation"
                        id="additionalInformation" formControlName="additionalInformation"></textarea>
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px; ">
                <div class="col-3">
                    Ilość biletów:
                </div>
                <div class="col-6">
                    <input style="width: 300px;" type="text">
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px; ">
                <div class="col-3">
                    Kategoria:
                </div>
                <div class="col-6">
                    <input style="width: 300px;" type="text">
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px; ">
                <div class="col-3">
                    Cena biletu normalnego:
                </div>
                <div class="col-6">
                    <input style="width: 300px;" type="text">
                </div>
            </div>

            <div class="row" style="margin-bottom: 30px; ">
                <div class="col-3">
                    Sponsorzy:
                </div>
                <div class="col-6">
                    <input style="width: 300px;" type="text">
                </div>
            </div>

            <div>
                <button style="background-color: var(--zielony); height: 30px; position: absolute; bottom: 0; right: 0; margin-bottom: 10px; margin-right: 10px;">Dodaj wydarzenie</button>
            </div>

        </div>
    </div>

</div>