<a routerLink="eventDetails">
<div class="event-card">
    <img style="border-bottom: 4px solid var(--zielony);" src="assets/images/concert.jpg" alt="Zdjęcie wydarzenia"
      class="img-fluid mb-4">
    <div class="event-details">
      <div class="event-name font-weight-bold mb-4">Nazwa wydarzenia</div>
      <div class="mb-3"><a style="font-weight: bold;">Miejsce:</a> przykładowe miejsce</div>
      <div class="mb-2"><a style="font-weight: bold;">Data:</a> przykładowa </div>
    </div>
    <div class="event-price p-3">
      <div style="margin-top: 10px;">Cena</div>
    </div>
</div>
</a>