<div class="container">
    <div class="row-margins mt-5" style="background-color: var(--jasny); padding: 10px;">
        <div class="row" style="display: flex; justify-content: center; justify-content: space-between;">
            <div class="col-2">
                <div>Miasto</div>
                <div><input style="width: 140px;" type="text"></div>
            </div>
            <div class="col-2">
                <div>Data</div>
                <div><input style="width: 140px;" type="text"></div>
            </div>
            <div class="col-2">
                <div>Typ wydarzenia</div>
                <div><input style="width: 140px;" type="text"></div>
            </div>
            <div class="col-2">
                <div>Sponsor</div>
                <div><input style="width: 140px;" type="text"></div>
            </div>
            <div class="col-2">
                <div><button style="height: 40px; width: 100%; margin-top: 7px; background-color: var(--zielony);">Szukaj</button></div>
            </div>
        </div>
    </div>

    <div class="row row-margins margins mt-3" style="background-color: var(--jasny); padding: 10px; ">

        <div class="row mb-3 " style="display: flex; justify-content: center; justify-content: space-between;">
            <div class="col-4 mb-3">
                <app-event-showcase></app-event-showcase>
            </div>
            <div class="col-4">
                <app-event-showcase></app-event-showcase>
            </div>
            <div class="col-4">
                <app-event-showcase></app-event-showcase>
            </div>
            <div class="col-4">
                <app-event-showcase></app-event-showcase>
            </div>


        </div>

    </div>

</div>
