.logo {
    height: 150px;
    width: 150px;
}

.mainPage {
    margin-top: 3rem;
}

.header {
    color: var(--zielony);
    font-size: 34px;
}

.motto {
    color: var(--zielony);
    font-size: 24px;
}

.row-margins {
    margin-right: 10rem;
    margin-left: 10rem;
}