<div class="container mainPage" style="">

    <div class="row row-margins" style="">

        <div class="col-2" style="">
            <img src="assets/images/logo.png" class="logo " alt="Logo strony">
        </div>

        <div class="col-5" style="margin-top: 10px; max-width: 100%;">

            <div class="row">
                <div class=" header">BiletPol</div>
            </div>
            <div class="row" style="margin-top: 4rem;">
                <div class="motto" style="position: absolute;">BiletPol: Twoja Przeprawa do Świata Wydarzeń!</div>
            </div>
        
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>

    <div class="row"  style="height: auto; margin: 1rem 10rem; background-color: #393E46; padding: 1rem;">
        Witaj na BiletPol - Twoim niezawodnym przewodnikiem w świecie niezapomnianych wydarzeń! Jesteśmy pasjonatami kultury, muzyki, 
        sportu i wszelkich przeżyciach, które wzbogacają nasze życie. Nasza platforma została stworzona z myślą o tych, którzy pragną 
        odkrywać nowe horyzonty i tworzyć niezapomniane chwile.
        <br><br>
        Co nas wyróżnia? To prostsze niż myślisz! BiletPol to nie tylko miejsce, gdzie możesz kupić bilety na najgorętsze koncerty, spektakle, 
        festiwale, mecze i inne wydarzenia. To przede wszystkim wspólnota ludzi, którzy łączą swoje pasje i zainteresowania, tworząc wyjątkową atmosferę 
        wspólnego doznawania emocji.
    </div>

    <div class="row row-margins" style="color: var(--zielony); font-size: 24px; margin-top: 4rem;">
        Już niebawem...
    </div>

    <div class="row row-margins mb-3" style="margin-top: 2rem;">
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
    </div>

    <div class="row row-margins mb-3" style="margin-top: 2rem;">
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
    </div>

</div>