<div class="container mainPage" style="">

    <div class="row row-margins" style="">

        <div class="col-2" style="">
            <img src="assets/images/logo.png" class="logo " alt="Logo strony">
        </div>

        <div class="col-5" style="margin-top: 10px; max-width: 100%;">

            <div class="row">
                <div class=" header">BiletPol</div>
            </div>
            <div class="row" style="margin-top: 4rem;">
                <div class="motto" style="">Bilety kupuj nie bądź ch.... ;D</div>
            </div>
        
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>

    <div class="row"  style="height: auto; margin: 1rem 10rem; background-color: #393E46; padding: 1rem;">
        Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
        Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos,
        qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur,
        adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
        Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat,
        quo voluptas nulla pariatur
    </div>

    <div class="row row-margins" style="color: var(--zielony); font-size: 24px; margin-top: 4rem;">
        Już niebawem...
    </div>

    <div class="row row-margins mb-3" style="margin-top: 2rem;">
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
    </div>

    <div class="row row-margins mb-3" style="margin-top: 2rem;">
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
        <div class="col-4">
            <app-event-showcase></app-event-showcase>
        </div>
    </div>

</div>