<div class="container">
    <div class="row-margins mt-5" style="background-color: var(--jasny); padding: 10px; position: relative;">
        <div class="row">
            <div [ngSwitch]="currentEvent.category" class="col-5">
                        <img *ngSwitchCase="'Piłka nożna'" style="width: 400px; height: 100%;"
                          src="assets/images/football.jpg" alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchCase="'Piłka siatkowa'" style="width: 400px; height: 100%;"
                          src="assets/images/volleyball.jpg" alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchCase="'Koszykówka'" style="width: 400px; height: 100%;"
                          src="assets/images/basketball.jpg" alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchCase="'Dart'" style="width: 400px; height: 100%;" src="assets/images/dart.jpg"
                          alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchCase="'Curling'" style="width: 400px; height: 100%;" src="assets/images/curling.jpg"
                          alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchCase="'Koncert POP'" style="width: 400px; height: 100%;"
                          src="assets/images/concert.jpg" alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchCase="'Koncert rockowy'" style="width: 400px; height: 100%;"
                          src="assets/images/rockConcert.jpg" alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchCase="'Koncert rapowy'" style="width: 400px; height: 100%;" src="assets/images/rap.jpg"
                          alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchCase="'Impreza techno'" style="width: 400px; height: 100%;"
                          src="assets/images/wixa.jpg" alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchCase="'Wystawa sztuki'" style="width: 400px; height: 100%;"
                          src="assets/images/wystawa.jpg" alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchCase="'Teatr'" style="width: 400px; height: 100%;" src="assets/images/teatr.jpg"
                          alt="Zdjęcie wydarzenia" class="img-fluid mb-4">
                        <img *ngSwitchDefault src="assets/images/default.jpg" style="width: 400px; height: 100%;" alt="Zdjęcie domyślne" class="img-fluid mb-4">
            </div>
            <div style="padding: 10px; position: relative;" class="col-7">
                <div style="margin-bottom: 30px;">{{currentEvent.description}}</div>
                <div style="margin-bottom: 0; position: absolute; bottom: 0; font-size: 24px; padding-bottom:10px;">
                    <a style="font-weight: bold;">Dostępna ilość biletów:</a> {{currentEvent.amountTicket}}
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; margin-top: 10px; margin-bottom: 50px; padding: 10px;">
            <div style="font-weight: bold; font-size: 26px; margin-bottom: 20px">{{currentEvent.eventName}}</div>
            <div style="margin-bottom: 10px;"> <a style="font-weight: bold; font-size: larger;">Miejsce: </a>{{currentEvent.location}}</div>
            <div style="margin-bottom: 10px"><a style="font-weight: bold;font-size: larger;">Data: </a>{{currentEvent.date | date:'dd/MM/yy HH:mm'}}</div>
            <div style="margin-bottom: 10px"><a style="font-weight: bold;font-size: larger;">Cena: </a> {{currentEvent.ticketPrice | currency:"zł"}}</div>
            <div style="margin-bottom: 10px"> <a style="font-weight: bold;font-size: larger;">Sponsorzy: </a>{{currentEvent.sponsors}}</div>
        </div>
        <div style="position: absolute; bottom: 0; right: 0; padding: 10px;">
            <button *ngIf="isLoggedIn" routerLink="buyTicket" style="background-color: var(--zielony); width: 100px; height: 60px;">
                <div>Kup teraz</div>
                <mat-icon>add_shopping_cart</mat-icon></button>
                <div *ngIf="!isLoggedIn">Zaloguj się aby kupić bilet!</div>
        </div>
    </div>
</div>