<div class="container">
    <div class="row-margins mt-5" style="background-color: var(--jasny); padding: 10px; position: relative;">
        <div class="row">
            <div class="col-5">
                <img style="width: 400px; height: 100%;" src="assets/images/concert.jpg" alt="Zdjęcie wydarzenia"
                    class="img-fluid mb-4">
            </div>
            <div style="padding: 10px; position: relative;" class="col-7">
                <div style="margin-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                    facilisi.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse vel
                    tortor eget nisl hendrerit pellentesque a eget turpis. Nullam suscipit risus nec justo fringilla, a
                    tincidunt dui suscipit. Nullam vitae odio quis libero sodales vehicula. Aliquam non sollicitudin
                    ante. Curabitur ut tortor at augue vulputate mattis. Suspendisse ac ex quis turpis cursus accumsan.
                    Vivamus vel libero id purus feugiat feugiat. Integer pharetra, elit at faucibus scelerisque, lectus
                    enim accumsan felis, vitae dignissim nisl massa ut est. Suspendisse potenti. Sed consequat, arcu nec
                    cursus elementum, ipsum elit cursus eros, nec elementum urna risus ac enim. Etiam congue, dolor a
                    facilisis pharetra, justo erat gravida erat, nec dictum nulla tortor vel enim. Nulla facilisi.</div>
                <div style="margin-bottom: 0; position: absolute; bottom: 0; font-size: 24px; padding-bottom:10px;">
                    <a style="font-weight: bold;">Dostępna ilość biletów:</a> milion
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; margin-top: 10px; margin-bottom: 50px; padding: 10px;">
            <div style="font-weight: bold; font-size: 26px; margin-bottom: 20px">Super wypasiony koncercik!!!</div>
            <div style="margin-bottom: 10px;"> <a style="font-weight: bold; font-size: larger;">Miejsce:</a> Super miejscówka auuuu</div>
            <div style="margin-bottom: 10px"><a style="font-weight: bold;font-size: larger;">Data:</a> 06.09.2137r. 04:20</div>
            <div style="margin-bottom: 10px"><a style="font-weight: bold;font-size: larger;">Cena:</a> 20PSC</div>
            <div style="margin-bottom: 10px"> <a style="font-weight: bold;font-size: larger;">Sponsorzy:</a> oni nwm jak beda wyswietlani</div>
        </div>
        <div style="position: absolute; bottom: 0; right: 0; padding: 10px;">
            <button routerLink="buyTicket" style="background-color: var(--zielony); width: 100px; height: 60px;">
                <div>Kup teraz</div>
                <mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </div>
</div>