<div class="container" style="position: relative;">
    <form [formGroup]="formLogin" (submit)="changeToNewLogin()">
        <div class="row" style="padding: 10px; margin-left: 100px; margin-bottom: 30px;">
            <div class="col-3">
                <button (click)="changeLogin()" type="button"
                    style="background-color: var(--zielony); color: var(--bialy); height: 50px; width: 100px;">Zmień
                    login</button>
            </div>

            <div *ngIf="isChangeLogin" class="col-2">
                <div class="mb-1">Obecny login:</div>
                <div>Nowy login:</div>
            </div>
            <div *ngIf="isChangeLogin" class="col-3">
                <div class="mb-1">{{userLogin}}</div>
                <div><input id="newLogin" type="text" formControlName="newLogin"></div>
            </div>
            <div *ngIf="isChangeLogin" class="col-3">
                <div class="mb-4"> </div>
                <div><button type="submit"
                        style="background-color: var(--zielony); color: var(--bialy);">Zapisz</button></div>
            </div>
        </div>
    </form>
    <form [formGroup]="formPassword" (submit)="changeToNewPassword()">
        <div class="row" style="padding: 10px; margin-left: 100px;">
            <div class="col-3">
                <button (click)="changePassword()" type="button"
                    style="background-color: var(--zielony); color: var(--bialy); height: 50px; width: 100px;">Zmień
                    hasło</button>
            </div>
            <div *ngIf="isChangePassword" class="col-2">
                <div class="mb-2">Obecne hasło:</div>
                <div class="mb-2">Nowe hasło:</div>
                <div>Powtórz hasło:</div>
            </div>
            <div *ngIf="isChangePassword" class="col-3">
                <div class="mb-1"><input id="currentPassword" type="password" formControlName="currentPassword"> </div>
                <div class="mb-1"><input id="newPassword" type="password" formControlName="newPassword"></div>
                <div><input id="repeatNewPassword" type="password" formControlName="repeatNewPassword"></div>
            </div>
            <div *ngIf="isChangePassword" class="col-3">
                <div style="margin-top: 58px;"> </div>
                <div><button type="submit" [disabled]="!formPassword.valid"
                        style="background-color: var(--zielony); color: var(--bialy);">Zapisz</button></div>
            </div>
        </div>
    </form>
    <form [formGroup]="formEmail" (submit)="changeToNewEmail()">
        <div class="row" style="padding: 10px; margin-left: 100px;">
            <div class="col-3">
                <button (click)="changeEmail()" type="button"
                    style="background-color: var(--zielony); color: var(--bialy); height: 50px; width: 100px;">Zmień
                    email</button>
            </div>
            <div *ngIf="isChangeEmail" class="col-2">
                <div class="mb-2">Obecny email:</div>
                <div class="mb-2">Nowy email:</div>
                <div>Powtórz email:</div>
            </div>
            <div *ngIf="isChangeEmail" class="col-3">
                <div class="mb-1">{{userEmail}}</div>
                <div class="mb-1"><input id="newEmail" type="email" formControlName="newEmail"></div>
                <div><input id="repeatNewEmail" type="email" formControlName="repeatNewEmail"></div>
            </div>
            <div *ngIf="isChangeEmail" class="col-3">
                <div style="margin-top: 52px;"> </div>
                <div><button type="submit" [disabled]="!formEmail.valid"
                        style="background-color: var(--zielony); color: var(--bialy);">Zapisz</button></div>
            </div>
        </div>
    </form>
    <div style="position: absolute; bottom: 0; right: 0;">
        <button (click)="deleteUser()" style="background-color: red;">Usuń konto</button>
    </div>

</div>