<div class="row mb-3" style="margin-top: 2rem;">
    <div class="col-4 mb-3">
        <app-ticket-showcase></app-ticket-showcase> 
    </div>
    <div class="col-4 mb-3">
        <app-ticket-showcase></app-ticket-showcase>
    </div>
    <div class="col-4 mb-3">
        <app-ticket-showcase></app-ticket-showcase>
    </div>
    <div class="col-4 mb-3">
        <app-ticket-showcase></app-ticket-showcase>
    </div>
    <div class="col-4 mb-3">
        <app-ticket-showcase></app-ticket-showcase>
    </div>
    <div class="col-4 mb-3">
        <app-ticket-showcase></app-ticket-showcase>
    </div>
    <div class="col-4 mb-3">
        <app-ticket-showcase></app-ticket-showcase>
    </div>
    <div class="col-4 mb-3">
        <app-ticket-showcase></app-ticket-showcase>
    </div>
</div>