<footer style="margin-top: 100px;">
    <div style="background-color: var(--jasny);">
        <div class="container">
            <div class="row">
                <div class="col" style="margin-left: 300px;">
                    <div><a>Pomoc</a></div>
                    <div><a>Regulamin</a></div>
                    <div><a>Polityka prywatności</a></div>
                    <div><a>Informacja o agencie i pełnomocnictwo</a></div>
                </div>
                <div class="col">
                    <div><a>Dla organizatorów</a></div>
                    <div><a>Współpraca</a></div>
                    <div><a>O nas</a></div>
                    <div><a>System rezerwacji BiletPol Places</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>