<footer style="margin-top: 100px;">
    <div style="background-color: var(--jasny);">
        <div class="container">
            <div class="row">
                <div class="col" style="margin-left: 300px;">
                    <div><a href="http://localhost:5168/help">Pomoc</a></div>
                    <div><a href="http://localhost:5168/statute">Regulamin</a></div>
                    <div><a href="http://localhost:5168/privacyPolicy">Polityka prywatności</a></div>
                    <div><a href="http://localhost:5168/agentAttorney">Informacja o agencie i pełnomocnictwo</a></div>
                </div>
                <div class="col">
                    <div><a href="http://localhost:5168/forOrganizers">Dla organizatorów</a></div>
                    <div><a href="http://localhost:5168/statistics">Statystyki</a></div>
                    <div><a href="http://localhost:5168/aboutUs">O nas</a></div>
                    <div><a href="http://localhost:5168/reservationSystem">System rezerwacji BiletPol Places</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>