/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto; background-color:#222831; color:#EEEEEE; }

:root {
    --zielony: #00ADB5;
    --bialy: #EEEEEE;
    --jasny: #393E46;
    --ciemny: #222831;
}

.row-margins {
    margin-right: 10rem;
    margin-left: 10rem;
}